@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'Gendy';
    src: url('../Assets/Font/gendy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.horizontal-scroll-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400vw;
    background-color: #BD1A15;
    margin-top: -65px;
    z-index: 110;
        position: static;
}

.Hero-section{
        background: url("../Assets/Images/Hero-Banner.png");
        background-position: center center;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        
        

        .Inner-section1{
            width: 80%;
            flex-direction: row;
            
    
            spacer{
                width: 170px;
            }
            
            h1{
                font-size: 80px;
                padding: 8px;
                font-family: "Playfair Display", serif;
                font-weight: 500;
    
            }
        }
    } 

    .section-2{
        background: #E8E8E8;
        background-position: center center;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        

        .Inner-section1{
            width: 90%;
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            
            
    
            spacer{
                width: 100%;

                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: 10;
                    height: 100%;
                    filter: drop-shadow(0px 0px 55px #00000010);
                }
            }
            
            h1{
                font-size: 130px;
                padding: 8px;
                font-family: "Playfair Display", serif;
                font-weight: 500;
    
            }
        }
    }

    .section-3{
        background: url("../Assets/Images/Hero-Banner.png");
        background-position: center center;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;

        

        .Inner-section1{
            width: 80%;
            flex-direction: row;
            
    
            spacer{
                width: 170px;
            }
            
            h1{
                font-size: 80px;
                padding: 8px;
                font-family: "Playfair Display", serif;
                font-weight: 500;
    
            }
        }
    }

/*second Section */
.scnd-section{
    width: 100vw;
    
    z-index: 10000;
    position: relative;
    height: 220vh !important;

    
    .InnerSection{
        padding: 100px 0;

        width: 100%;
        height: 100vh !important;
        background-color: #D9D4B7;


        .Menu-List{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 30px;

            .Menu-Item{
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 40px;
                width: 100%;

                .Line{
                    border-top: #000 1px solid;
                    height: 0px;
                    padding: 0;
                    margin: 0px;
                }

                a{
                    font-family: "Playfair Display", serif;
                    font-size: clamp(1.5625rem, 0.5885rem + 2.0292vw, 3.125rem);
                    font-weight: 300;
                    color: #000;
                    text-decoration: none;
                }
            }

            .item-1{
                .Line{
                    width: 75%;
                }

            }
            .item-2{
                .Line{
                    width: 75%;
                }
            }
            .item-3{
                .Line{
                    width: 75%;
                }
            }
            .item-4{
                .Line{
                    width: 75%;
                }
            }
            .item-5{
                .Line{
                    width: 75%;
                }
            }
            .item-6{
                .Line{
                    width: 75%;
                }
            }
            
        }
    }
    .Innersection1{
        width: 100%;
        padding: 120px 0;

        width: 100%;
        height: 100vh !important;
        position: absolute;
        top: 0;
        background: url("../Assets/Images/Vector\ 13.png");
        background-size: 100% 100%;
        background-position: center 30px;
        background-repeat: no-repeat;
        background-clip: border-box;
    }
}


.cat{
    position: relative;
    height: 900vh;
    margin-top: -700vh;
    margin-bottom: -200vh;
    z-index: 0;
}
.CatalougeSection{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow-x: none;
    

    h3{
        font-family: "Playfair Display", serif;
        font-weight: 500;
        font-size: 60px;
    }

    .products{

        .title{
            font-family: "Playfair Display", serif;
            font-weight: 600;
            font-size: 20px;
        }

        .product-img{
            background: url("../Assets/Images/Product-border.png");
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            
            img{
                width: 100%;
            }
        }
        

        a{
            width: 55%;
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 20px;
            color: #fff;
            background-color: #D9D4B7;
            text-decoration: none;
            border: none;
            border-radius: 10px;
            transition: .4s ease;

            &:hover{
                width: 100%;
                border-radius: 0;
            }
        }
    }
}

.aboutcon{
    width: 100vw;
    height: 800vh;
    position: relative;
}
.About-section{
    width: 100vw;
    height: 100vh;
    background-color: #F3F4F1;
    // padding: 100px 200px;
    
        position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow-x: none;


    .container1{
        clip-Path: polygon(10.42% 9.26%, 89.58% 9.26%, 89.58% 90.74%, 10.42% 90.74%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
        align-items: center;
        gap: 20px;
        background-image: url("../Assets/Images/Rectangle\ 4\ \(1\).png");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 50;

        h1{
            color: #fff;
            font-size: 100px;
            font-weight: 400;
            font-family: "Playfair Display", serif;
            text-transform: uppercase;
        }
        .circle{
            width: 50px;
            stroke-dasharray: 100.355, 100.355px; 
            stroke-dashoffset: 0px;
        }
    }
}
.aboutcon2{
    width: 100vw;
    height: 900vh;
    position: relative;
    margin-top: -200vh;
    z-index: 60;

    .about-section2{
        width: 100vw;
    height: 100vh;
    // background-color: #F3F4F1;
    background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
        position: -webkit-sticky;
        justify-content: center;
        align-items: center;
    position: sticky;
    top: 0px;
    overflow-x: none;
    

    .container2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../Assets/Images/Rectanglezz.png");
        width: 100%;
        height: 100%;
        position: static;
        background-size: contain;
        background-position: top center;
        background-attachment: scroll;
        

        
        h1{
            color: #fff;
            font-weight: 400;
            font-family: "Playfair Display", serif;
            text-transform: uppercase;
            font-size: 150px;

            span{
                position: static;
                display: inline-block;
            }
        }
    }
}
}
.aboutcon3{
    width: 100vw;
    height: 800vh;
    position: relative;
    margin-top: -250vh;
    z-index: 60;
    .about-section3{
        width: 100vw;
    height: 100vh;
    // background-color: #F3F4F1;
    background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
        position: -webkit-sticky;
        justify-content: center;
        align-items: center;
    position: sticky;
    top: -1px;
    overflow-x: none;

    h3{
        text-align: end;
        font-size: 30px;
        width: fit-content;
        font-family: "Playfair Display", serif;
            text-transform: uppercase;
            font-weight: 800;
            position: absolute;
            right: 20%;
            top: 50%;
    }
        .container3{
            background-image: url("../Assets/Images/bnr2.jpg");
            background-size: 35% 70%;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            clip-Path: circle(20% at 50% 50%);
            .contentoverlay{
                display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
                width: 100%;
                height: 100%;
            }
            .contents{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p{
                    color: #fff;
                    font-size: 14px;
                }

                a{
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid #fff;
                    padding: 10px 20px;
                    width: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    border-radius: 50px;
                    text-align: center;
                }
            }
        }
    }
}

.aboutcon4{
    width: 100vw;
    height: 900vh;
    position: relative;
    margin-top: -250vh;
    z-index: 80;
    .about-section4{
    width: 100vw;
    height: 100vh;
    // background-color: #F3F4F1;
    background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: -webkit-sticky;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    overflow-x: none;
    z-index: 60;

    h3{
        text-align: end;
        font-size: 30px;
        width: fit-content;
        font-family: "Playfair Display", serif;
            text-transform: uppercase;
            font-weight: 800;
            position: absolute;
            right: 8%;
            top: 50%;
    }
    
        .container4{
            background-image: url("../Assets/Images/bnr3.jpg");
            background-size: 35% 70%;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            clip-Path: circle(20% at 50% 50%);
            z-index: 100 !important;
            .contentoverlay{
                display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
                width: 100%;
                height: 100%;
                
            }
            .contents{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: static;

                p{
                    color: #fff;
                    font-size: 14px;
                }

                a{
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid #fff;
                    padding: 10px 20px;
                    width: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    border-radius: 50px;
                    text-align: center;
                }
            }
        }
    }
}
.aboutcon5{
    width: 100vw;
    height: 900vh;
    position: relative;
    margin-top: -900vh;
    z-index: 70;
    .about-section5{
    width: 100vw;
    height: 100vh;
    // background-color: #F3F4F1;
    background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: -webkit-sticky;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    overflow-x: none;
    z-index: 60;

    h3{
        text-align: end;
        font-size: 30px;
        width: fit-content;
        font-family: "Playfair Display", serif;
            text-transform: uppercase;
            font-weight: 800;
            position: absolute;
            right: 8%;
            top: 50%;
    }
    
        .container5{
            background-image: url("../Assets/Images/bnr3.jpg");
            background-size: 35% 70%;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            clip-Path: circle(20% at 50% 50%);
            z-index: 100 !important;
            .contentoverlay{
                display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
                width: 100%;
                height: 100%;
                
            }
            .contents{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: static;

                p{
                    color: #fff;
                    font-size: 14px;
                }

                a{
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid #fff;
                    padding: 10px 20px;
                    width: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    border-radius: 50px;
                    text-align: center;
                }
            }
        }
    }
}

.onlinecon{
    width: 100vw;
    height: 600vh;
    position: relative;
    z-index: 70 !important;
    padding: 0;
    margin-top: -460vh;
    display: flex;
    justify-content: center;
    align-items: start;

    
    .onlinestore{
        height: 100vh;
        width: 100vw;

    // background-color: #F3F4F1;
        background-image: url("../Assets/Images/onlinestore.png");
        background-attachment: fixed;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: repeat;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        overflow-x: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1;
        flex-direction: column;
        padding: 40px;
        
        .container5{ 
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding: 50px;
            justify-content: space-around;
            align-items: center;
            // background-image: url("../Assets/Images/onlinestore.png");
            background-attachment: fixed;
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
            .txt-marquee{
                white-space: nowrap;
                animation: animate 160s linear infinite;
                color: #fff;
                font-weight: 500;
                font-size: 80px;

                span{
                    -webkit-text-stroke: 1px #fff;
                    -webkit-text-fill-color: transparent;
                    /* fallback */
                    color: #fff;
                }
            }
            @keyframes animate {
                0% {
                  transform: translateX(10%);
                }
                100% {
                  transform: translateX(0%);
                }
              }

              .innersec{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                a{
                    text-decoration: none;

                .div1, .div2, .div3{
                    width: 300px;
                    height: 400px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-family: 'Gendy', sans-serif;

                    h3{
                        color: #FDCB9F;
                        font-weight: 500;
                        font-size: 55px;
                        margin-bottom: -25px;
                        font-family: 'Gendy', sans-serif;
                        text-shadow: #00000040 0px 0px 5px;
                        text-decoration: none;

                    }

                }
            }

                .div1{
                    background: url("../Assets/Images/Men.png");
                    background-size: cover;
                    box-shadow: 0px 0px 25px #F8A40695;
                }
                .div3{
                    background: url("../Assets/Images/Girls.png");
                    background-size: cover; 
                    box-shadow: 0px 0px 25px #DA006D95;
                }
              }

        }
        
    }
}

.scndlast{
    height: 120vh;
    width: 100vw;
    background: url("../Assets/Images/White.png");
    position: static;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .h11{
        background-color: #2f8d46;
          background-image: url("../Assets/Images/t1.png");
            background-repeat: repeat;
            -webkit-background-clip: text;
            background-size: cover; 
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: 100px;
            -webkit-font-smoothing: antialiased;
    }
    .h12{
        background-color: #2f8d46;
          background-image: url("../Assets/Images/t2.png");
          background-size: cover; /* Ensure the image covers the entire element */
          background-position: 100% 0%; /* Start position (right side) */
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: 100px;
            -webkit-font-smoothing: antialiased;
    }
    .h13{
        background-color: #2f8d46;
          background-image: url("../Assets/Images/t3.png");
            background-repeat: repeat;
            background-size: cover; 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: 100px;
            -webkit-font-smoothing: antialiased;
    }
    .h14{
            background-color: #2f8d46;
            background-image: url("../Assets/Images/t4.png");
            background-size: cover; /* Ensure the image covers the entire element */
            background-position: 100% 0%; /* Start position (right side) */
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: 100px;
            -webkit-font-smoothing: antialiased;
    }
}

.footer{
    z-index: 100000;
    background-color: #fff;
    position: relative;
    padding: 50px 0;
    .inner{
        background: #F4F4F4;

        .row1{
            padding: 100px 0px;
            
            
            .imgcc2{
                border-left: #000 solid 1px;
            }
            .img-c{
                width: 40%;
            }
        }

        .c-row{
            padding-top: 100px;

        }
        .row{
            padding: 0;
            h1{
                font-weight: 400;
                font-size: 50px;
            }
            h2{
                font-weight: 400;
                font-size: 30px;
            }
            img{
                width: 100%;
            }
        }
    }
}