@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Gendy";
  src: url("../Assets/Font/gendy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400vw;
  background-color: #BD1A15;
  margin-top: -65px;
  z-index: 110;
  position: static;
}

.Hero-section {
  background: url("../Assets/Images/Hero-Banner.png");
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.Hero-section .Inner-section1 {
  width: 80%;
  flex-direction: row;
}
.Hero-section .Inner-section1 spacer {
  width: 170px;
}
.Hero-section .Inner-section1 h1 {
  font-size: 80px;
  padding: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.section-2 {
  background: #E8E8E8;
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.section-2 .Inner-section1 {
  width: 90%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-2 .Inner-section1 spacer {
  width: 100%;
}
.section-2 .Inner-section1 spacer img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  filter: drop-shadow(0px 0px 55px rgba(0, 0, 0, 0.062745098));
}
.section-2 .Inner-section1 h1 {
  font-size: 130px;
  padding: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.section-3 {
  background: url("../Assets/Images/Hero-Banner.png");
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}
.section-3 .Inner-section1 {
  width: 80%;
  flex-direction: row;
}
.section-3 .Inner-section1 spacer {
  width: 170px;
}
.section-3 .Inner-section1 h1 {
  font-size: 80px;
  padding: 8px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

/*second Section */
.scnd-section {
  width: 100vw;
  z-index: 10000;
  position: relative;
  height: 220vh !important;
}
.scnd-section .InnerSection {
  padding: 100px 0;
  width: 100%;
  height: 100vh !important;
  background-color: #D9D4B7;
}
.scnd-section .InnerSection .Menu-List {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.scnd-section .InnerSection .Menu-List .Menu-Item {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.scnd-section .InnerSection .Menu-List .Menu-Item .Line {
  border-top: #000 1px solid;
  height: 0px;
  padding: 0;
  margin: 0px;
}
.scnd-section .InnerSection .Menu-List .Menu-Item a {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.5625rem, 0.5885rem + 2.0292vw, 3.125rem);
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.scnd-section .InnerSection .Menu-List .item-1 .Line {
  width: 75%;
}
.scnd-section .InnerSection .Menu-List .item-2 .Line {
  width: 75%;
}
.scnd-section .InnerSection .Menu-List .item-3 .Line {
  width: 75%;
}
.scnd-section .InnerSection .Menu-List .item-4 .Line {
  width: 75%;
}
.scnd-section .InnerSection .Menu-List .item-5 .Line {
  width: 75%;
}
.scnd-section .InnerSection .Menu-List .item-6 .Line {
  width: 75%;
}
.scnd-section .Innersection1 {
  width: 100%;
  padding: 120px 0;
  width: 100%;
  height: 100vh !important;
  position: absolute;
  top: 0;
  background: url("../Assets/Images/Vector 13.png");
  background-size: 100% 100%;
  background-position: center 30px;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.cat {
  position: relative;
  height: 900vh;
  margin-top: -700vh;
  margin-bottom: -200vh;
  z-index: 0;
}

.CatalougeSection {
  position: sticky;
  top: 0px;
  overflow-x: none;
}
.CatalougeSection h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 60px;
}
.CatalougeSection .products .title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 20px;
}
.CatalougeSection .products .product-img {
  background: url("../Assets/Images/Product-border.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.CatalougeSection .products .product-img img {
  width: 100%;
}
.CatalougeSection .products a {
  width: 55%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: #D9D4B7;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: 0.4s ease;
}
.CatalougeSection .products a:hover {
  width: 100%;
  border-radius: 0;
}

.aboutcon {
  width: 100vw;
  height: 800vh;
  position: relative;
}

.About-section {
  width: 100vw;
  height: 100vh;
  background-color: #F3F4F1;
  position: sticky;
  top: 0px;
  overflow-x: none;
}
.About-section .container1 {
  clip-Path: polygon(10.42% 9.26%, 89.58% 9.26%, 89.58% 90.74%, 10.42% 90.74%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  align-items: center;
  gap: 20px;
  background-image: url("../Assets/Images/Rectangle 4 (1).png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
}
.About-section .container1 h1 {
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.About-section .container1 .circle {
  width: 50px;
  stroke-dasharray: 100.355, 100.355px;
  stroke-dashoffset: 0px;
}

.aboutcon2 {
  width: 100vw;
  height: 900vh;
  position: relative;
  margin-top: -200vh;
  z-index: 60;
}
.aboutcon2 .about-section2 {
  width: 100vw;
  height: 100vh;
  background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  overflow-x: none;
}
.aboutcon2 .about-section2 .container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/Images/Rectanglezz.png");
  width: 100%;
  height: 100%;
  position: static;
  background-size: contain;
  background-position: top center;
  background-attachment: scroll;
}
.aboutcon2 .about-section2 .container2 h1 {
  color: #fff;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 150px;
}
.aboutcon2 .about-section2 .container2 h1 span {
  position: static;
  display: inline-block;
}

.aboutcon3 {
  width: 100vw;
  height: 800vh;
  position: relative;
  margin-top: -250vh;
  z-index: 60;
}
.aboutcon3 .about-section3 {
  width: 100vw;
  height: 100vh;
  background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -1px;
  overflow-x: none;
}
.aboutcon3 .about-section3 h3 {
  text-align: end;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  right: 20%;
  top: 50%;
}
.aboutcon3 .about-section3 .container3 {
  background-image: url("../Assets/Images/bnr2.jpg");
  background-size: 35% 70%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  clip-Path: circle(20% at 50% 50%);
}
.aboutcon3 .about-section3 .container3 .contentoverlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutcon3 .about-section3 .container3 .contents {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutcon3 .about-section3 .container3 .contents p {
  color: #fff;
  font-size: 14px;
}
.aboutcon3 .about-section3 .container3 .contents a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}

.aboutcon4 {
  width: 100vw;
  height: 900vh;
  position: relative;
  margin-top: -250vh;
  z-index: 80;
}
.aboutcon4 .about-section4 {
  width: 100vw;
  height: 100vh;
  background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -1px;
  overflow-x: none;
  z-index: 60;
}
.aboutcon4 .about-section4 h3 {
  text-align: end;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  right: 8%;
  top: 50%;
}
.aboutcon4 .about-section4 .container4 {
  background-image: url("../Assets/Images/bnr3.jpg");
  background-size: 35% 70%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  clip-Path: circle(20% at 50% 50%);
  z-index: 100 !important;
}
.aboutcon4 .about-section4 .container4 .contentoverlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutcon4 .about-section4 .container4 .contents {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
}
.aboutcon4 .about-section4 .container4 .contents p {
  color: #fff;
  font-size: 14px;
}
.aboutcon4 .about-section4 .container4 .contents a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}

.aboutcon5 {
  width: 100vw;
  height: 900vh;
  position: relative;
  margin-top: -900vh;
  z-index: 70;
}
.aboutcon5 .about-section5 {
  width: 100vw;
  height: 100vh;
  background: url("../Assets/Images/Projectbg.png"), #F3F4F1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -1px;
  overflow-x: none;
  z-index: 60;
}
.aboutcon5 .about-section5 h3 {
  text-align: end;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  right: 8%;
  top: 50%;
}
.aboutcon5 .about-section5 .container5 {
  background-image: url("../Assets/Images/bnr3.jpg");
  background-size: 35% 70%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  clip-Path: circle(20% at 50% 50%);
  z-index: 100 !important;
}
.aboutcon5 .about-section5 .container5 .contentoverlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.aboutcon5 .about-section5 .container5 .contents {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
}
.aboutcon5 .about-section5 .container5 .contents p {
  color: #fff;
  font-size: 14px;
}
.aboutcon5 .about-section5 .container5 .contents a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}

.onlinecon {
  width: 100vw;
  height: 600vh;
  position: relative;
  z-index: 70 !important;
  padding: 0;
  margin-top: -460vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.onlinecon .onlinestore {
  height: 100vh;
  width: 100vw;
  background-image: url("../Assets/Images/onlinestore.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: repeat;
  position: sticky;
  top: 0px;
  overflow-x: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1;
  flex-direction: column;
  padding: 40px;
}
.onlinecon .onlinestore .container5 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.onlinecon .onlinestore .container5 .txt-marquee {
  white-space: nowrap;
  animation: animate 160s linear infinite;
  color: #fff;
  font-weight: 500;
  font-size: 80px;
}
.onlinecon .onlinestore .container5 .txt-marquee span {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  /* fallback */
  color: #fff;
}
@keyframes animate {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
.onlinecon .onlinestore .container5 .innersec {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.onlinecon .onlinestore .container5 .innersec a {
  text-decoration: none;
}
.onlinecon .onlinestore .container5 .innersec a .div1, .onlinecon .onlinestore .container5 .innersec a .div2, .onlinecon .onlinestore .container5 .innersec a .div3 {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "Gendy", sans-serif;
}
.onlinecon .onlinestore .container5 .innersec a .div1 h3, .onlinecon .onlinestore .container5 .innersec a .div2 h3, .onlinecon .onlinestore .container5 .innersec a .div3 h3 {
  color: #FDCB9F;
  font-weight: 500;
  font-size: 55px;
  margin-bottom: -25px;
  font-family: "Gendy", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2509803922) 0px 0px 5px;
  text-decoration: none;
}
.onlinecon .onlinestore .container5 .innersec .div1 {
  background: url("../Assets/Images/Men.png");
  background-size: cover;
  box-shadow: 0px 0px 25px rgba(248, 164, 6, 0.5843137255);
}
.onlinecon .onlinestore .container5 .innersec .div3 {
  background: url("../Assets/Images/Girls.png");
  background-size: cover;
  box-shadow: 0px 0px 25px rgba(218, 0, 109, 0.5843137255);
}

.scndlast {
  height: 120vh;
  width: 100vw;
  background: url("../Assets/Images/White.png");
  position: static;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scndlast .h11 {
  background-color: #2f8d46;
  background-image: url("../Assets/Images/t1.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
}
.scndlast .h12 {
  background-color: #2f8d46;
  background-image: url("../Assets/Images/t2.png");
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: 100% 0%; /* Start position (right side) */
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
}
.scndlast .h13 {
  background-color: #2f8d46;
  background-image: url("../Assets/Images/t3.png");
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
}
.scndlast .h14 {
  background-color: #2f8d46;
  background-image: url("../Assets/Images/t4.png");
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: 100% 0%; /* Start position (right side) */
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
}

.footer {
  z-index: 100000;
  background-color: #fff;
  position: relative;
  padding: 50px 0;
}
.footer .inner {
  background: #F4F4F4;
}
.footer .inner .row1 {
  padding: 100px 0px;
}
.footer .inner .row1 .imgcc2 {
  border-left: #000 solid 1px;
}
.footer .inner .row1 .img-c {
  width: 40%;
}
.footer .inner .c-row {
  padding-top: 100px;
}
.footer .inner .row {
  padding: 0;
}
.footer .inner .row h1 {
  font-weight: 400;
  font-size: 50px;
}
.footer .inner .row h2 {
  font-weight: 400;
  font-size: 30px;
}
.footer .inner .row img {
  width: 100%;
}/*# sourceMappingURL=Home.css.map */